*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #FA9426;
    --secondary-color: #75C1CC;
    --tertiary-color: black;
}

/* Custom Fonts */

@font-face {
    font-family: 'njnaruto';
    src: url('../fonts/njnaruto.ttf') format('truetype');
}

/* General CSS */

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

nav {
    font-family: 'njnaruto', Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(255,192,1,1) 0%, rgba(255,148,0,1) 65%, rgba(255,91,1,1) 100%);
}

h1 {
    font-family: 'njnaruto', Helvetica, sans-serif;
    color: var(--main-color);
}


/* Custom CSS */

.presentation {
    border-radius: 15px;
    padding: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.presentation h2 {
    transform: translate(-50%, 50%) !important;
}

.button {
    font-family: 'njnaruto', Helvetica, sans-serif;
    background-color: var(--main-color);
    color: #fff;
    letter-spacing: 5px;
    padding: 15px;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 5px 0 0 rgb(216, 141, 1);
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px;
}

.separator {
    font-family: 'njnaruto', Helvetica, sans-serif;
    color: #d98404;
    font-size: 20px;
    background: linear-gradient(to right, rgba(255,192,1,1) 0%, rgba(255,148,0,1) 50%, rgba(255,91,1,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #FA9426;
  border-radius: 10px;
}

.separator:not(:empty)::before {
  margin-right: .50em;
}

.separator:not(:empty)::after {
  margin-left: .50em;
}