*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #FF9E00;
    --secondary-color: #88dff3;
    --tertiary-color: black;
}

/* Custom Fonts */

@font-face {
    font-family: 'njnaruto';
    src: url('../fonts/njnaruto.ttf') format('truetype');
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

nav {
    font-family: 'njnaruto', Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(255,192,1,1) 0%, rgba(255,148,0,1) 65%, rgba(255,91,1,1) 100%);
}

.presentation {
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button {
    font-family: 'njnaruto', Helvetica, sans-serif;
    background-color: var(--main-color);
    color: #fff;
    letter-spacing: 5px;
    padding: 15px;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 5px 0 0 rgb(216, 141, 1);
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px;
  }


/* 
.content {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
} */